<h1>Upload Videos</h1>
<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
<div>
  <label for="userid">Email Id</label><br><br>
  <input type="text" id="uid" name="userid" value={{userid}}><br><br>
  
  <label for="subject">Subject</label><br><br>
  <input type="text" id="subject" name="subject"><br><br>

  <label for="class">Standard</label><br><br>
  <input type="text" id="class" name="class"><br><br>

  <label for="orgname">Organization Name</label><br><br>
  <input type="text" id="orgid" name="Orgname" value={{orgname}}><br><br>
  
  <select id="filetype" name="Type"><br>
    <option value="Video">Video</option></div><br><br>
  </select> 
  <h2>Select an Video to upload:</h2>
  <div class="upload-container"><input id="file-picker" type="file" name="file"></div>
  <div><input type="submit" value="Upload Video"></div>
</form>


<script>
  document.addEventListener('DOMContentLoaded', () => {

    const message = document.getElementById('message');
    const picker = document.getElementById('file-picker');

    document.getElementById('upload-form').addEventListener('submit', (e) => {

      message.innerText = '';

      if(!picker.files.length) {
        message.innerText = 'Please select an Pdf to upload.';
        e.preventDefault();
        return false;
      }
    });

  });
</script>